.svg-check {
	background: url("../img/sprite.svg") 0 0 no-repeat;
}

.svg-check-dims {
	width: 522px;
	height: 522px;
}

.svg-phone {
	background: url("img/sprite.svg") 23.555956678700362% 0 no-repeat;
}

.svg-phone-dims {
	width: 522px;
	height: 522px;
}

.svg-scheck {
	background: url("img/sprite.svg") 47.111913357400724% 0 no-repeat;
}

.svg-scheck-dims {
	width: 522px;
	height: 522px;
}

.svg-shipping-fast {
	background: url("img/sprite.svg") 75% 0 no-repeat;
}

.svg-shipping-fast-dims {
	width: 650px;
	height: 522px;
}

.svg-thumbs-up {
	background: url("img/sprite.svg") 100% 0 no-repeat;
}

.svg-thumbs-up-dims {
	width: 522px;
	height: 522px;
}

