$icons: (
	  sprite: (width: 2216px, height: 2088px, svgPath: '../img/sprite.svg'),
 	check: (width: 512px, height: 512px, backgroundX: 0px, backgroundY: 0px),
 	phone: (width: 512px, height: 512px, backgroundX: -522px, backgroundY: -522px),
 	shipping-fast: (width: 640px, height: 512px, backgroundX: -1044px, backgroundY: -1044px),
 	thumbs-up: (width: 512px, height: 512px, backgroundX: -1694px, backgroundY: -1566px),
);
